# Tests, secrets and under developement
.env
.venv/
tests_openaq.ipynb
AQI_tests.ipynb
src/general

# Data: big databased are not uploaded but can be reconstructed running the pipeline (see README.md)
data/raw/
data/processed/

git filter-branch --env-filter '
OLD_EMAIL="guglielmo.sproloquio@gmail.com"
CORRECT_NAME="guglielmo sproloquio"
CORRECT_EMAIL="sprolo.guglie@gmail.com"
if [ "$GIT_COMMITTER_EMAIL" = "$OLD_EMAIL" ]
then
    export GIT_COMMITTER_NAME="$CORRECT_NAME"
    export GIT_COMMITTER_EMAIL="$CORRECT_EMAIL"
fi
if [ "$GIT_AUTHOR_EMAIL" = "$OLD_EMAIL" ]
then
    export GIT_AUTHOR_NAME="$CORRECT_NAME"
    export GIT_AUTHOR_EMAIL="$CORRECT_EMAIL"
fi
' --tag-name-filter cat -- --branches --tags